.container
{
  background-color: #E7ECEF;

}

.commentaires .row
{
  background-color: #FFFFFF;
  margin-bottom: 1vh;
  min-height: 9vh;
}


#bandeau_pseudo
{
  font-family: "Ubuntu Condensed","Segoe UI",Verdana,Helvetica,Sans-Serif !important;
  height: 1vh;
}

.pseudo_commentaire
{
  color: #1f7eaa;
}



.date_commentaire
{
  color: #7d8288;
  font-size: 0.85em;
}

#avatar{
  padding: 0;
  margin-right: 1vw;
  padding-top: 10px;
  padding-left: 10px;
}

.avatar_pseudo{
  width: 100%;
}

.commentaire_contenu{
  position: relative;
  top: -15px;
}
