section form
{
  text-align: center;
}

#mon_profil
{
  border: 1px solid black;
  width: 50%;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
