/* HEADER */


#menu_principal{
  background-color: #014359;
  margin-bottom: 1em;
}

#lien_git_blog a
{
  color: red;
  font-size: 2em;
  text-decoration: none !important;
}

#menu_principal h1 a
{
  color: orange;
}

#login
{
  text-align: right;
}

#session
{
  margin-right: 1em;
  color: white;
}

#session a
{
  text-decoration: none;
  color: white;
}

#icone_login
{
  margin-right: 0.5em;
}

#icone_logout
{
  margin-left: 0.5em;
}

nav
{
  font-size: 2em;
}

nav a
{
  color: white;
}

nav a:hover
{
  color: orange;
}

/* BODY */

body h1, body h3
{
  text-align:center;
}

body {
  padding-top: 10px;
  background-color: #D7DFE2 !important;
}

article h3 a
{
  text-decoration: none;
  color: white;
}

article h3 a:hover
{
  text-decoration: none;
  color: orange;
}


.illustrations_articles
{
  width: 100%;
}

#div_titres_billets
{
  margin-bottom: 0;
  font-size: 1.2em;
  margin-bottom: 0px;
}

#div_titres_billets p
{
  margin-bottom: 0;
  text-align: justify;
}

#div_titres_billets p:first-line
{
  text-align: center;
}

.news p
{
  margin-top: 0px;
  height: 5vh;
  text-align: justify;
}

#paragraphe_article
{
  height: 6.5vh;
  overflow: hidden;
}
#container_article
{
  background-color: white;
  height: 28vh;
  margin-bottom: 5vh;
  overflow: hidden;
  border-radius: 10px;
}


#paragraphe_article:hover
{
  color: gray;
  text-decoration: none;
}

#articles_icones
{
  font-size: 0.90em;
  color: grey;
  align-self: end;
  position: absolute;
  bottom: 1.5vh;
  width:  92%;
}

#col_container
{
  height: 29vh;
  cursor: pointer;
}

.form-mise-en-page
{
  background-color:#CCC;
  padding: 20px;
}

/* FIN BODY / PAGE ACCUEIL */
