/* HEADER */

#menu_principal{
  background-color: #014359;
  margin-bottom: 1em;
}

#lien_git_blog a
{
  color: red;
  font-size: 2em;
  text-decoration: none !important;
}

#menu_principal h1 a
{
  color: orange;
}

#login
{
  text-align: right;
}

#session
{
  margin-right: 1em;
  color: white;
}

#session a
{
  text-decoration: none;
  color: white;
}

#icone_login
{
  margin-right: 0.5em;
}

#icone_logout
{
  margin-left: 0.5em;
}

nav
{
  font-size: 2em;
}

nav a
{
  color: white;
}

nav a:hover
{
  color: orange;
}

/* BODY */

body h1, body h3
{
  text-align:center;
}

body {
  padding-top: 10px;
  background-color: #D7DFE2 !important;
}

article h3 a
{
  text-decoration: none !important;
  color: white !important;
}

.illustrations_articles
{
  max-width: 72%;
  cursor: pointer;
  margin-left: 60px;
}

.news h3
{
  background-color: black;
  color: white;
  font-size: 0.9em;
  margin-bottom: 0px;
}

.news p
{
  background-color:#FFFFFF;
  margin-top:0px;
}


.form-mise-en-page
{
  background-color:#CCC;
  padding: 20px;
}

/* FIN BODY / PAGE ACCUEIL */
